<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="benchGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt"/>
      <ImmediateFlush value="true"/>
      <appendToFile value="false"/>
      <maximumFileSize value="2KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %level %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="CommunicationAppender" type="log4net.Appender.FileAppender">
      <file value="logCommunication.txt"/>
      <ImmediateFlush value="true"/>
      <appendToFile value="false"/>
      <maximumFileSize value="2KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %level %thread %type - %message%newline"/>
      </layout>
    </appender>
	<appender name="EPascalCommunicationAppender" type="log4net.Appender.FileAppender">
		<file value="logCommunicationEPascal.txt"/>
		<ImmediateFlush value="true"/>
		<appendToFile value="false"/>
		<maximumFileSize value="2KB"/>
		<maxSizeRollBackups value="2"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{ISO8601} %level %thread %type - %message%newline"/>
		</layout>
	</appender>
    <appender name="CPC6000CommunicationAppender" type="log4net.Appender.FileAppender">
      <file value="logCommunicationCPC6000.txt"/>
      <ImmediateFlush value="true"/>
      <appendToFile value="false"/>
      <maximumFileSize value="2KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %level %thread %type - %message%newline"/>
      </layout>
    </appender>
	  <appender name="HARTAppender" type="log4net.Appender.FileAppender">
		  <file value="logHARTCommunication.txt"/>
		  <ImmediateFlush value="true"/>
		  <appendToFile value="false"/>
		  <maximumFileSize value="2KB"/>
		  <maxSizeRollBackups value="2"/>
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%level %thread %type - %date{ISO8601} %message%newline"/>
		  </layout>
	  </appender>
	<appender name="CPC6000Appender" type="log4net.Appender.FileAppender">
      <file value="logCPC6000.txt"/>
      <ImmediateFlush value="true"/>
      <appendToFile value="false"/>
      <maximumFileSize value="2KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %level %thread CPC6000 - %message%newline"/>
      </layout>
    </appender>
    <appender name="CommunicationConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %level %thread %type - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
    </root>
    <logger name="WorkBench">
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
    </logger>
    <logger name="Communication">
      <level value="INFO"/>
      <appender-ref ref="CommunicationAppender"/>
      <appender-ref ref="CommunicationConsoleAppender"/>
    </logger>
	<logger name="EPascalCommunication">
		<level value="INFO"/>
		<appender-ref ref="EPascalCommunicationAppender"/>
		<appender-ref ref="CommunicationConsoleAppender"/>
	</logger>
    <logger name="CPC6000Communication">
      <level value="INFO"/>
      <appender-ref ref="CPC6000CommunicationAppender"/>
      <appender-ref ref="CommunicationConsoleAppender"/>
    </logger>
	  <logger name="HART">
		  <level value="DEBUG"/>
		  <appender-ref ref="HARTAppender"/>
	  </logger>
	<logger name="WorkBench.TestEquipment.CPC6000.CPC6000">
		<level value="DEBUG"/>
		<appender-ref ref="CPC6000Appender"/>
	</logger>
  </log4net>
  <userSettings>
    <benchGUI.Properties.Settings>
      <setting name="HartPort" serializeAs="String">
        <value />
      </setting>
    </benchGUI.Properties.Settings>
  </userSettings>
</configuration>
